body{
    background: Gainsboro;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 2.5em; /* 40px/16=2.5em */
}

.content{
    background: #fff;
    padding-top: 25px;

    max-width: 1200px;
    margin: auto;
    border-radius: 10px 100px 10px 10px;
}

.knop{
    align-self: right;
    margin-left: 0;
    margin-right: 15;
    float:right;
    font-size: 1,5em;

}

.hideUntil {
  color: lightgray
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding: 20px;

}

ul li:last-child {
  border-bottom: none
}

li span{
    cursor:  pointer;

}


form input{
    float: left;
    font-size: 1.2em;
    width: 80%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 8px;
    display: block;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 3px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    padding: 0px;
    width: 20px;
    color: #999;
    float:right;
    margin-right: 40px;
    font-size: 1,5em;


}



.topnav {
  overflow: hidden;
  background-color: Gainsboro;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #fc9003;
  color: white;
}

.topnav .icon {
  display: none;
}


@media only screen and (max-width: 700px) {
  body {
    background-color: lightblue;
    margin: 0px;
    border : 0px;
    padding: 0px;

  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .content{
      border-radius: 0px;
      padding-top: 10px;

  }


}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.knop:hover,
.knop:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
