* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


.col-3 {width: 25%;}

.col-9 {width: 75%;}

.col-12 {width: 100%;}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: white;
  color: #ffffff;
  padding: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 15px 8px;
  margin-bottom: 15px;
    font-size: 200%;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;

}

/*  voor verticam menu */
.vertical-menu {
  padding: 15px 8px;
  margin-bottom: 15px;
    font-size: 250%;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}



.mySlides
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  float: left;
  width: 75%;


}

.active {
  background-color: #717171;
}
